<% layout("/layouts/boilerplate") %>

<body>
  <h1>forget-password</h1>
  <form action="/forgot-password" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <br />
    <input type="submit" value="submit" />
  </form>
</body>
